<div class="containeer">

    <svg viewBox="90 0 960 300">
    <symbol id="s-text">
      <text text-anchor="middle" x="60%" y="60%">Scores</text>
    </symbol>

    <g class="g-ants">
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
    </g>
  </svg>
</div>
<div class="row center container at-dd text-center">

    <div class=" m-3 card  mb-1 at-container " *ngFor="let user of users">
        <img class="card-img-top ima" style='height: 250px; width: 15rem; object-fit: contain' src="{{user.url}}" alt="Card image cap" width="150" height="210">
        <br>

        <div class="card gugu">
            <p class="card-text">Nombre de jugador: {{user.name}}</p>
            <p class="card-text">Ultima Puntuación: {{user.score}}</p>


        </div>
        <br>
        <button class="btn btn-info btn-block boton-neon" (click)="perfilUser(user.name)"><span> Ver perfil</span></button>
    </div>
</div>
