<div class="container">

    <br>
    <fieldset style="border:1px solid black">

        <p> <b> Perfil de {{user.name}}</b></p>


        <div class="baba">

            <div id="imagem">
                <img src="{{user.url}}">
            </div>


            <br>
            <button type="button" class="btn btn-success btn-lg btn-block boton-neon" (click)="updateUser(user.id)">Editar Perfil</button>
            <button type="button" class="btn btn-danger btn-lg btn-block boton-neons" routerLink="/home">Volver atras</button>

        </div>
    </fieldset>
    <br>
</div>
<br>

<br>
<br>
