<body>
    <br>
    <fieldset style="border:1px solid black">




        <div>
            <div id="imagem">
                <img src="{{user.url}}">
            </div>
            <div id="conteudo">
                <ul>
                    <li>Nombre de jugador: {{user.name}}</li>
                    <li>Telefono: {{user.phone}}</li>
                    <li>Ultima Puntuación: {{user.score}}</li>
                    <li>Email de contacto: {{user.email}}</li>
                </ul>
            </div>
            <br><br>
            <button class="btn btn-info btn-block boton-neon" (click)="volver_Scores()"><span>Volver Atras</span> </button>
        </div>
    </fieldset>
</body>
<br>
<br>
<br>
<br>
<br>
