<br>
<br>
<div class="col-md-6 offset-md-3">

    <svg viewBox="90 0 960 300">
    <symbol id="s-text">
      <text text-anchor="middle" x="60%" y="60%">Actualizar</text>
    </symbol>

    <g class="g-ants">

      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>

    </g>
  </svg>

    <div class="form-group">
        <label> Telefono</label>
        <input type="number" class="form-control no-arrow" id="phone" (change)="validarPhone()" [(ngModel)]="user.phone" name="phone">
        <p id="phoneError" style="color: red;"></p>
    </div>
    <div class="form-group">
        <label> Foto de perfil con URL</label>
        <input type="text" class="form-control" id="urlPerfil" (change)="validarUrl()" [(ngModel)]="user.url" name="urlPerfil">
        <p id="urlError" style="color: red;"></p>
    </div>
    <div class="form-group">
        <label> Contraseña</label>
        <input type="text" class="form-control" id="password" (change)="validarPassword()" [(ngModel)]="user.password" name="password">
        <p id="passwordError" style="color: red;"></p>
    </div>

    <button class="btn btn-success  btn-block boton-neon" (click)="onUpdate();validarPhone();validarUrl();validarPassword()" type="button">Guardar</button>

    <button class="btn btn-danger  btn-block boton-neons" routerLink="/perfilUser" type="button">Cancelar</button>

</div>
<br>