<div class="container">
    <svg viewBox="90 0 960 300">
    <symbol id="s-text">
      <text text-anchor="middle" x="60%" y="60%">Tres en Raya</text>
    </symbol>

    <g class="g-ants">
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
      <use xlink:href="#s-text" class="text-copy"></use>
    </g>
  </svg>

    <p class='about-section'>
        Aqui presentamos nuestro ultimo juego desarrollado unicamente por la empresa PixelSky Studios. Para entrar al juego que se puede descargar mas abajo hace falta iniciar sesión y asi poder acceder despues, el juego es un tres en raya clasico con un sistema
        de puntuaciones que se veran reflejadas en la pagina web en el apartado de mejores puntuaciones. La aplicación es educativa y pueden jugar niños con supervision de adultos, para descargar el juego que todavia no esta disponible en la Play Store
        de Android solo necesita pulsar el boton verde descargar y se le descargara una APK que simplemente abriendola en su dispositivo movil se le instalara el juego.
    </p>
    <div class="col 12">
        <a href="https://drive.google.com/uc?export=download&id=1bgmpGCyfyNyBYmlNaU70uMVebk0vF7PX">
            <button class="btn" style="width: 300px; height: 170px;"><a class="fa fa-download"></a> Descargar Juego</button></a>
    </div>
</div>