<div class="container marginbot margintop">
    <div class="col-md-12"><svg viewBox="90 0 960 300">
      <symbol id="s-text">
        <text text-anchor="middle" x="60%" y="80%">Politicas</text>
      </symbol>

      <g class="g-ants">
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
      </g>
    </svg>


        <div class='at-dd'>



            <p class='about-section'>
                Esta página le informa sobre nuestras políticas con respecto a la recopilación, uso y divulgación de datos personales cuando utiliza nuestro Servicio y las opciones que ha asociado con esos datos. Esta Política de privacidad. Utilizamos sus datos para
                proporcionar y mejorar el Servicio. Al usar el Servicio, usted acepta la recopilación y el uso de información de acuerdo con esta política. A menos que se defina lo contrario en esta Política de privacidad, los términos utilizados en esta
                Política de privacidad tienen el mismo significado que en nuestros Términos y condiciones, accesibles desde Recolección de información y uso Recopilamos varios tipos diferentes de información con diversos fines para proporcionarle y mejorar
                nuestro Servicio. Tipos de datos recopilados Información personal Al usar nuestro Servicio, podemos pedirle que nos proporcione cierta información de identificación personal que se puede utilizar para contactarlo o identificarlo ("Datos
                personales"). La información de identificación personal puede incluir, entre otros: Dirección de correo electrónico Cookies y datos de uso Datos de uso También podemos recopilar información sobre cómo se accede y utiliza el Servicio ("Datos
                de uso"). Estos Datos de uso pueden incluir información como la dirección del Protocolo de Internet de su computadora (por ejemplo, dirección IP), el tipo de navegador, la versión del navegador, las páginas de nuestro Servicio que visita,
                la hora y la fecha de su visita, el tiempo dedicado a esas páginas, único identificadores de dispositivo y otros datos de diagnóstico. Seguimiento y datos de cookies Utilizamos cookies y tecnologías de seguimiento similares para rastrear
                la actividad en nuestro Servicio y mantener cierta información. Las cookies son archivos con una pequeña cantidad de datos que pueden incluir un identificador único anónimo. Las cookies se envían a su navegador desde un sitio web y se
                almacenan en su dispositivo. Las tecnologías de seguimiento también utilizadas son balizas, etiquetas y scripts para recopilar y rastrear información y para mejorar y analizar nuestro Servicio. Puede indicar a su navegador que rechace
                todas las cookies o que indique cuándo se envía una cookie. Sin embargo, si no acepta las cookies, es posible que no pueda usar algunas partes de nuestro Servicio. Ejemplos de cookies que utilizamos: Cookies de sesión Utilizamos cookies
                de sesión para operar nuestro servicio. Cookies de preferencia. Utilizamos cookies de preferencias para recordar sus preferencias y diversas configuraciones. Cookies de seguridad Utilizamos cookies de seguridad con fines de seguridad.
                Uso de datos de PixelSky Studios utilizan los datos recopilados. para diversos fines: Para proporcionar y mantener el Servicio Para notificarle sobre cambios en nuestro Servicio Para permitirle participar en funciones interactivas de nuestro
                Servicio cuando elija hacerlo Para proporcionar atención al cliente y soporte Proporcionar análisis o información valiosa para que podamos mejorar el Servicio. Para monitorear el uso del Servicio Para detectar, prevenir y abordar problemas
                técnicos Transferencia de datos Su información, incluidos los Datos personales, puede transferirse a computadoras ubicadas fuera de su estado, provincia, país u otra jurisdicción gubernamental donde las leyes de protección de datos pueden
                diferir de las de su jurisdicción. Si se encuentra fuera de Colombia y decide proporcionarnos información, tenga en cuenta que transferimos los datos, incluidos los datos personales, a Colombia y los procesamos allí. Su consentimiento
                a esta Política de privacidad seguido de su envío de dicha información representa su aceptación de esa transferencia. Las mejores plantillas HTML / CSS gratuitas tomarán todas las medidas razonablemente necesarias para garantizar que sus
                datos se traten de forma segura y de acuerdo con esta Política de privacidad y no se realizará ninguna transferencia de sus Datos personales a una organización o país a menos que existan controles adecuados. incluida la seguridad de sus
                datos y otra información personal. Divulgación de datos Requerimientos legales Las mejores plantillas HTML / CSS gratuitas pueden divulgar sus datos personales en la creencia de buena fe de que dicha acción es necesaria para: Para cumplir
                con una obligación legal Para proteger y defender los derechos o propiedad de PixelSky Studios Para prevenir o investigar posibles irregularidades en relación con el Servicio Para proteger la seguridad personal de los usuarios del Servicio
                o del público. Para protegerse contra la responsabilidad legal Seguridad de datos La seguridad de sus datos es importante para nosotros, pero recuerde que ningún método de transmisión por Internet o método de almacenamiento electrónico
                es 100% seguro. Si bien nos esforzamos por utilizar medios comercialmente aceptables para proteger sus Datos personales, no podemos garantizar su seguridad absoluta. Proveedores de servicio Podemos emplear a empresas e individuos de terceros
                para facilitar nuestro Servicio ("Proveedores de servicios"), para proporcionar el Servicio en nuestro nombre, para realizar servicios relacionados con el Servicio o para ayudarnos a analizar cómo se utiliza nuestro Servicio. Estos terceros
                tienen acceso a sus Datos personales solo para realizar estas tareas en nuestro nombre y están obligados a no divulgarlos ni usarlos para ningún otro propósito. Analítica Podemos utilizar proveedores de servicios externos para monitorear
                y analizar el uso de nuestro servicio. Google analitico Google Analytics es un servicio de análisis web ofrecido por Google que rastrea e informa el tráfico del sitio web. Google utiliza los datos recopilados para rastrear y controlar
                el uso de nuestro Servicio. Estos datos se comparten con otros servicios de Google. Google puede usar los datos recopilados para contextualizar y personalizar los anuncios de su propia red publicitaria. Puede optar por no haber puesto
                su actividad en el Servicio a disposición de Google Analytics instalando el complemento de exclusión voluntaria de Google Analytics. El complemento evita que el JavaScript de Google Analytics (ga.js, analytics.js y dc.js) comparta información
                con Google Analytics sobre la actividad de las visitas. Para obtener más información sobre las prácticas de privacidad de Google, visite la página web de Privacidad y Términos de Google: https://policies.google.com/privacy?hl=en Enlaces
                a otros sitios Nuestro servicio puede contener enlaces a otros sitios que no son operados por nosotros. Si hace clic en un enlace de un tercero, se lo dirigirá al sitio de ese tercero. Le recomendamos encarecidamente que revise la Política
                de privacidad de cada sitio que visite. No tenemos control ni asumimos ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de sitios o servicios de terceros. Privacidad infantil Nuestro Servicio no se
                dirige a menores de 18 años ("Niños"). No recopilamos intencionalmente información de identificación personal de ninguna persona menor de 18 años. Si usted es padre o tutor y sabe que sus hijos nos han proporcionado datos personales, contáctenos.
                Si nos damos cuenta de que hemos recopilado Datos personales de niños sin verificación del consentimiento de los padres, tomamos medidas para eliminar esa información de nuestros servidores. Cambios a esta política de privacidad Podemos
                actualizar nuestra Política de privacidad de vez en cuando. Le notificaremos cualquier cambio publicando la nueva Política de privacidad en esta página. Le informaremos por correo electrónico y / o un aviso destacado sobre nuestro Servicio,
                antes de que el cambio entre en vigencia y actualizaremos la "fecha de vigencia" en la parte superior de esta Política de privacidad. Se recomienda que revise esta Política de privacidad periódicamente para detectar cualquier cambio. Los
                cambios a esta Política de privacidad son efectivos cuando se publican en esta página.
            </p>
        </div>
    </div>
</div>
<br>
