<div class="container marginbot margintop">
  <div class="col-md-12"><svg viewBox="90 0 960 300">
      <symbol id="s-text">
        <text text-anchor="middle" x="60%" y="80%">About us</text>
      </symbol>

      <g class="g-ants">
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
      </g>
    </svg>


    <div class='at-container'>


      <p class='at-item'>
        En Image Lab, defendemos que las imagenes por sí sola no sirve de nada
        si no tiene a alguien que aporte el factor humano y logre convertirla en
        una herramienta con un propósito. Con eso en mente, todo lo que creamos
        y trabajamos en nuestras imagenes siempre tiene un objetivo principal:
        fortalecer a los profesores y maestros que desean transformar la vida de
        sus estudiantes durante y después del año escolar.

        Vivimos en un mundo cada vez más dinámico y conectado, donde las
        barreras de la distancia e incluso de idioma, prácticamente ya no
        existen. Un escenario en el que con unos pocos clics una persona puede
        aprender a cocinar una comida completa para toda su familia, y en el
        formato que prefiera: videos, imágenes, textos, etc. Es innegable que
        las imagenes ha transformado la forma en que vivimos y nos relacionamos
        con los demás.

        Con todos estos cambios que ocurren día tras día, la forma en que
        conectamos el conocimiento con nuestros estudiantes también debe
        mantenerse al día con esta transformación. Las habilidades y los
        conocimientos necesarios para vivir en este nuevo mundo no son los
        mismos que hace unos años, entonces, ¿por qué seguimos enseñando a
        nuestros estudiantes por medio del mismo modelo? ¿Cómo puede la imagen –
        que ya forma parte de la rutina de las personas – ayudar a transformar
        la educación? ¿Cómo hacer cada vez más personalizado el proceso de
        enseñanza y aprendizaje? ¿Y cómo ayuda la tecnología a organizar el día
        a día, además de ahorrar tiempo en las tareas?

        Las respuestas a estas preguntas están en el contenido de este blog, en
        forma de artículos, enlaces relevantes, noticias de la actualidad y
        casos reales de docentes que ya han innovado en sus aulas. Y lo mejor:
        este blog es tanto para quienes utilizan herramientas tecnológicas en su
        día a día, como para los que nunca tuvieron ningún tipo de contacto,
        pero que están dispuestos a entender y aprovechar las posibilidades que
        todas estas herramientas pueden brindar a la formación de sus
        estudiantes.

        Además del contenido que encuentras aquí, aún puedes visitar el sitio
        web de Image Lab y ser parte del grupo mundial de educadores que
        utilizan la imagen en el aula, la Comunidad Lab de Educadores, donde
        tendrás acceso a cursos y contenido en español para capacitación y
        adopción de tecnología en el aula, además de poder conectarte con
        docentes de todo el mundo.

        Nuestro equipo está formado por personas apasionadas por la educación y
        que trabajan diariamente en lo que pueda facilitarle la vida al docente
        dentro y fuera del aula. Esto se debe a que hemos integrado a algunos
        profesores de instituciones educativas en América Latina al equipo, lo
        que nos ayuda a comprender las necesidades reales de los profesores en
        la región.


      </p></div></div>
</div>
<br>
