<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="tit"><b>PixelSky Studios</b> </h1>
            <p> <b> Nuestro objetivo es entretener a la gente mediante videojuegos de puntuaciones y competitividad.</b></p>
            <a href="#" class="btn btn-primary btn-lg"> Saber mas de nosotros</a>
        </div>
    </div>
</header>

<br>
<br>

<div class="container text-center">
    <h1>Cualidades</h1>
    <p class="lead">Somos una empresa con una vision algo espacial de todo lo relacionado con los videojuegos que busca entretener a la gente mediante juegos moviles. Nuestro primer objetivo es hacer que las personas que jueguen a nuestros videojuegos se sientan comodos.
        El segundo objetivo es que sean competitivos y el tercer objetivo es que entrenen reflejos.</p>
    <img class=" img-circle" width="900" height="500" src="https://i.blogs.es/313d2d/sin-titulo-1/1366_2000.jpeg" alt="">
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Calidad superior</h1>
            <p class="lead text-center">Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable
                products without collateral.</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="col-xs-12">
        <a href="#">
            <div class="col-lg-12 promo-item item-1">
                <h3>

                </h3>

            </div>

        </a>

    </div>
</div>
<br>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
