<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<header class="at-dd">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="tit"><b>PixelSky Studios</b> </h1>
            <p> <b> Nuestro objetivo es entretener a la gente mediante videojuegos de puntuaciones y competitividad.</b></p>
            <a href="#" class="btn btn-info btn-lg text-light"> Saber mas de nosotros</a>
        </div>
    </div>
</header>

<br>
<br>

<div class="container text-center ">
    <h1>Cualidades</h1>
    <p class="lead">Somos una empresa con una vision algo espacial de todo lo relacionado con los videojuegos que busca entretener a la gente mediante juegos moviles. Nuestro primer objetivo es hacer que las personas que jueguen a nuestros videojuegos se sientan comodos.
        El segundo objetivo es que sean competitivos y el tercer objetivo es que entrenen reflejos.</p>
    <img class=" img-circle" width="900" height="500" src="https://i.blogs.es/313d2d/sin-titulo-1/1366_2000.jpeg" alt="">
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Calidad superior</h1>
            <p class="lead text-center">Trabajamos con muchas empresas de alta calidad para el desarrollo de videojuegos 2D y 3D pero sobre todo nos gusta hacer disfrutar a la gente con juegos entretenidos.</p>
        </div>
    </div>
</div>


<br>
<section class="dark">
    <div class="container py-4">
        <h2 class="h1 text-center text-light" id="pageHeaderTitle">Empresas que nos apoyan</h2>

        <article class="postcard dark blue">
            <a class="postcard__img_link" href="https://www.dell.com/es-es">
                <img class="postcard__img" src="https://cdn.forbes.com.mx/2016/03/2016-03-28T120259Z_1_LYNXNPEC2R0F9_RTROPTP_3_TECNOLOGIA-DELL-COMPRA.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h2 class="postcard__title blue"><a href="https://www.dell.com/es-es">Dell</a></h2>
                <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Friday, Jun 15th 2022
					</time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Dell (NASDAQ: DELL) es una compañía multinacional estadounidense establecida en Round Rock (Texas), la cual desarrolla, fabrica, vende y da soporte a computadoras personales, servidores, switches de red, programas informáticos, periféricos
                    y otros productos relacionados con la tecnología. Fundada en 1984 por Michael Dell, en cuatro años logró aumentar su capitalización en el mercado, pasando de US$1,000 en 1984 a US$85 millones en 1988.</div>
                <ul class="postcard__tagbox">



                </ul>
            </div>
        </article>
        <article class="postcard dark red">
            <a class="postcard__img_link" href="https://es.msi.com/Laptops?gclid=CjwKCAjwtIaVBhBkEiwAsr7-czJ9VOcv11RT7n2sNgnbpNc_WRGDVMvzGKG34ZPTopQWwrXqk47OnBoCdiQQAvD_BwE">
                <img class="postcard__img" src="https://images5.alphacoders.com/122/1229906.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h2 class="postcard__title red "><a href="https://es.msi.com/Laptops?gclid=CjwKCAjwtIaVBhBkEiwAsr7-czJ9VOcv11RT7n2sNgnbpNc_WRGDVMvzGKG34ZPTopQWwrXqk47OnBoCdiQQAvD_BwE">MSI</a></h2>
                <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Micro-Star International, Co., Ltd (en chino: 微星科技股份有限公司, mayormente conocida por sus siglas MSI) es una empresa multinacional taiwanesa de tecnología de la información con sede en Nuevo Taipéi, Taiwán. Diseña, desarrolla y proporciona
                    equipo informático, productos y servicios relacionados, incluyendo computadoras portátiles, placas base, tarjetas gráficas, PCs todo-en-uno, servidores, computadoras industriales, periféricos de PC y productos de infoentertainment
                    para automóviles. Es muy conocida en el mundo del gaming y los eSports.</div>
                <ul class="postcard__tagbox">

                </ul>
            </div>
        </article>
        <article class="postcard dark green">
            <a class="postcard__img_link" href="https://www.microsoft.com/es-es/store/b/sale?&ef_id=CjwKCAjwtIaVBhBkEiwAsr7-c9qRw3AHOZzHh9VBhfOYUG4RyyXH31uQSzev5X-gNo79ur4WfRlPvRoCLK0QAvD_BwE:G:s&s_kwcid=AL!4249!3!507887122963!e!!g!!microsoft&ef_id=CjwKCAjwtIaVBhBkEiwAsr7-c9qRw3AHOZzHh9VBhfOYUG4RyyXH31uQSzev5X-gNo79ur4WfRlPvRoCLK0QAvD_BwE:G:s&OCID=AID2200063_SEM_CjwKCAjwtIaVBhBkEiwAsr7-c9qRw3AHOZzHh9VBhfOYUG4RyyXH31uQSzev5X-gNo79ur4WfRlPvRoCLK0QAvD_BwE:G:s&gclid=CjwKCAjwtIaVBhBkEiwAsr7-c9qRw3AHOZzHh9VBhfOYUG4RyyXH31uQSzev5X-gNo79ur4WfRlPvRoCLK0QAvD_BwE">
                <img class="postcard__img" src="https://www.adslzone.net/app/uploads-adslzone.net/2020/03/aperMicrosoft.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h2 class="postcard__title green"><a href="https://www.microsoft.com/es-es/store/b/sale?&ef_id=CjwKCAjwtIaVBhBkEiwAsr7-c9qRw3AHOZzHh9VBhfOYUG4RyyXH31uQSzev5X-gNo79ur4WfRlPvRoCLK0QAvD_BwE:G:s&s_kwcid=AL!4249!3!507887122963!e!!g!!microsoft&ef_id=CjwKCAjwtIaVBhBkEiwAsr7-c9qRw3AHOZzHh9VBhfOYUG4RyyXH31uQSzev5X-gNo79ur4WfRlPvRoCLK0QAvD_BwE:G:s&OCID=AID2200063_SEM_CjwKCAjwtIaVBhBkEiwAsr7-c9qRw3AHOZzHh9VBhfOYUG4RyyXH31uQSzev5X-gNo79ur4WfRlPvRoCLK0QAvD_BwE:G:s&gclid=CjwKCAjwtIaVBhBkEiwAsr7-c9qRw3AHOZzHh9VBhfOYUG4RyyXH31uQSzev5X-gNo79ur4WfRlPvRoCLK0QAvD_BwE">Microsoft</a></h2>
                <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Sun, Jan 2th 2016
					</time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Microsoft Corporation (pronunciado en inglés [maikrosoft]) es una empresa tecnológica multinacional con sede en Redmond, Washington, Estados Unidos. «Microsoft» es un acrónimo de microordenador y software. La empresa desarrolla, fabrica,
                    licencia y da soporte a ordenadores personales, servidores, dispositivos electrónicos y servicios. Sus productos más conocidos son el sistema operativo Microsoft Windows, el paquete Microsoft Office, los navegadores de Internet, Internet
                    Explorer y Microsoft Edge. </div>
                <ul class="postcard__tagbox">

                </ul>
            </div>
        </article>
        <article class="postcard dark yellow">
            <a class="postcard__img_link" href="https://www.corsair.com/es/es/">
                <img class="postcard__img" src="https://fanaticosdelhardware.com/wp-content/uploads/2017/03/Corsair-Logo.png" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h2 class="postcard__title yellow"><a href="https://www.corsair.com/es/es/">Corsair</a></h2>
                <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, Sep 23th 2020
					</time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Corsair Gaming, Inc., comúnmente conocida como Corsair, es una empresa estadounidense de hardware de computadoras y periféricos con sede en Fremont, California. La compañía fue constituida en enero de 1994 y reconstituida en Delaware en
                    2007. En enero de 2010 la compañía fue constituida otra vez en Delaware como "Corsair Components, Inc.".</div>
                <ul class="postcard__tagbox">

                </ul>
            </div>
        </article>
    </div>
</section>

<section class="light">
    <div class="container py-2">
        <div class="h1 text-center text-dark" id="pageHeaderTitle">Juegos que apoyamos</div>

        <article class="postcard light blue">
            <a class="postcard__img_link" href="https://store.steampowered.com/app/588650/Dead_Cells/">
                <img class="postcard__img" src="https://cdn.akamai.steamstatic.com/steam/apps/588650/ss_a8b0439ad7750cab1bdec86ecef0daa280e9f93f.1920x1080.jpg?t=1645784921" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title blue"><a href="https://store.steampowered.com/app/588650/Dead_Cells/">Dead Cells</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Sun, Aug 6th 2018
					</time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Dead Cells es un videojuego híbrido entre el género de exploración de mazmorras o roguelite, y metroidvania, creando su propio género, “roguevania”, desarrollado por el estudio Motion Twin. El juego fue lanzado para PC, Mac, Linux, Playstation
                    4, Nintendo Switch y Xbox One, siendo lanzado en la plataforma de Steam el 6 de agosto de 2018, bajo la categoría de juego de acción e indie.</div>
                <ul class="postcard__tagbox">

                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>4 h.</li>

                </ul>
            </div>
        </article>
        <article class="postcard light red">
            <a class="postcard__img_link" href="https://diabloimmortal.blizzard.com/es-es/">
                <img class="postcard__img" src="https://as01.epimg.net/meristation/imagenes/2022/06/01/avances/1654069309_261719_1654071021_noticia_normal.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title red"><a href="https://diabloimmortal.blizzard.com/es-es/">Diablo Inmortal</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Sat, Jun 6th 2022
					</time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Diablo Immortal es un videojuego en desarrollo, perteneciente al género de acción de la serie de videojuegos Diablo diseñado para el juego multijugador en línea, con dispositivos móviles. Desarrollado por Blizzard y NetEase, el videojuego
                    se anunció a finales del año 2018 y está programado para su lanzamiento en Android e iOS.</div>
                <ul class="postcard__tagbox">
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>123 h.</li>

                </ul>
            </div>
        </article>
        <article class="postcard light green">
            <a class="postcard__img_link" href="https://store.steampowered.com/app/367520/Hollow_Knight/?l=spanish">
                <img class="postcard__img" src="https://cdn.akamai.steamstatic.com/steam/apps/367520/ss_d5b6edd94e77ba6db31c44d8a3c09d807ab27751.1920x1080.jpg?t=1625363925" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title green"><a href="https://store.steampowered.com/app/367520/Hollow_Knight/?l=spanish">Hollow Knight</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, Jun 12th 2017
					</time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Hollow Knight es un videojuego perteneciente al género metroidvania desarrollado y publicado por Team Cherry. El videojuego fue inicialmente lanzado para Microsoft Windows en febrero de 2017, y más tarde para macOS y Linux en abril de
                    2017. La adaptación para Nintendo Switch fue lanzada el 12 de junio de 2018. El desarrollo fue parcialmente financiado como un proyecto Kickstarter que obtuvo 57.000 dólares hasta finales de 2014. El juego fue lanzado en las consolas
                    PlayStation 4 y Xbox One el 25 de septiembre de 2018.</div>
                <ul class="postcard__tagbox">
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>45 h.</li>
                </ul>
            </div>
        </article>
        <article class="postcard light yellow">
            <a class="postcard__img_link" href="https://store.steampowered.com/agecheck/app/283640/?l=spanish">
                <img class="postcard__img" src="https://elchapuzasinformatico.com/wp-content/uploads/2021/12/Salt-and-Sanctuary.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title yellow"><a href="https://store.steampowered.com/agecheck/app/283640/?l=spanish">Salt And Santuary</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Thu, March 15th 2016
					</time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Salt and Sanctuary es un videojuego de rol en 2D desarrollado y publicado por Ska Studios. El juego fue lanzado el 15 de marzo de 2016 en Playstation 4. Más adelante fue lanzado para Microsoft Windows y PlayStation Vita. Fue inspirado
                    en Dark Souls creado por la empresa japonesa From Software.</div>
                <ul class="postcard__tagbox">
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>27 h.</li>
                </ul>
            </div>
        </article>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
