<div class="wrapper at-dd">
    <br>
    <form class="login at-dd" [formGroup]="userForm">
        <p class="title">Registro de usuario</p>
        <input type="text" formControlName="name" required maxlength="30" id="username" (change)="validarUsername()" required placeholder="Nombre" />
        <i class="fa fa-user"></i>
        <p id="usernameError" style="color: red;"></p>
        <input type="password" formControlName="password" required maxlength="15" (change)="validarPassword()" required id="password" placeholder="Contraseña" />
        <i class="fa fa-key"></i>
        <p id="passwordError" style="color: red;"></p>
        <input type="number" class="no-arrow" formControlName="phone" required maxlength="30" id="phone" (change)="validarPhone()" placeholder="Telefono" />
        <i class="fa fa-phone"></i>
        <p id="phoneError" style="color: red;"></p>
        <input type="text" formControlName="email" id="email" (change)="validarMail2()" required maxlength="10" placeholder="Email" />
        <i class="fa fa-mail-forward"></i>
        <p id="emailError" style="color: red;"></p>
        <button class="btn btn-info btn-block boton-neon" (click)="register();validarUsername();validarPassword();validarPhone();validarMail2()"><span> Registrarse</span></button>
    </form>
    <br>
</div>
